<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div class="alert alert-success-light">
                        <b>积分兑换商城基本配置</b><br>
                    </div>
                    <form id="index-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                        <!--
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">{:__('Oddstatuschangeday')}:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input id="c-oddstatuschangeday" data-rule="required" min="0" class="form-control" name="row[oddstatuschangeday]" type="text" value="{$row.oddstatuschangeday|htmlentities}">
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label class="control-label col-xs-10 col-sm-2">{:__('Oddstatuschangeday')}:发货后</label>
                            <div class="col-xs-10 col-sm-1">
                                <input style="width: 100%;" id="c-oddstatuschangeday" data-rule="required" min="0" class="form-control" name="row[oddstatuschangeday]" type="number" value="{$row.oddstatuschangeday|htmlentities}">
                            </div>
                            <label class="control-label col-xs-10 col-sm-2" style="text-align: left;">天，自动确认收货</label>
                        </div>

                        <div class="form-group layer-footer">
                            <label class="control-label col-xs-12 col-sm-2"></label>
                            <div class="col-xs-12 col-sm-8">
                                <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
                                <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>

        </div>
    </div>
</div>
